<template>
  <div>
    <h1>Liste des utilisateurs</h1>
    <div v-if="areUsersFetched && users.length > 0">
      <b-field>
        <b-button
          label="Désélectionner"
          type="is-danger"
          icon-left="close"
          :disabled="!selected_user"
          @click="selected_user = null"/>
      </b-field>
      <b-table
        :columns="columns"
        :data="users"
        trackBy="id"
        :paginated=true
        :per-page="perPage"
        :current-page.sync="currentPage"
        :pagination-rounded=true
        :sort-icon="sortIcon"
        sort-icon-size="is_small"
        pagination-position="bottom"
        default-sort="firstName"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
        :selected.sync="selected_user"
        focusable>
      </b-table>

      <consult-user :active="this.selected_user" v-bind:user="this.selected_user"></consult-user>

    </div>
    <h2 v-else>
      Pas d'utilisateurs
    </h2>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "userlist",
  data() {
    return {
      columns: [
        {
          label: "Nom",
          field: "lastName",
          searchable: true,
          sortable: true
        }, {
          label: "Prénom",
          field: "firstName",
          searchable: true,
          sortable: true
        }, {
          label: "Mail",
          field: "username",
          searchable: true,
          sortable: true
        }],
      users: [],
      areUsersFetched: false,
      perPage: 20,
      currentPage: 1,
      sortIcon: 'arrow-up',
      selected_user: null
    };
  },
  async fetch() {
    [this.users,this.areUsersFetched] = await axios.get(`${process.env.VUE_APP_ARTHUR_URL}/users/simeos`)
      .then(value => {
        return [value.data, true];
      }).catch(reason => {
        console.dir(reason);
        return []
      });
  },
  methods: {
    setUsers: (users) => {
      this.users = users;
      this.areUsersFetched = true;
    }
  }


}
</script>

<style scoped>

</style>
